<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.h.h.h"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"  />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:name="com.h.h.h.GlobalState"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".Menu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ListOfTests"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SubjectSelector"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Statistic"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Test"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Downloader"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>